.body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Ajusta este valor según sea necesario */
}

.main,
.commingsoon {
  width: 650px;
  height: 600px;
  background-color: #f5f5f5;
  border-radius: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commingsoon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.3em;
  color: black;
  font-style: italic;
  font-weight: 600;
  padding: 20px;
}

.subtitle {
  font-size: 1.6em;
  color: rgb(255, 192, 0);
  font-style: italic;
  font-weight: 600;
  padding: 15px 10px 40px 10px;
  text-align: center;
}

.logo {
  width: 150px;
  height: 150px;
  padding-right: 15px;
}

.logocontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Resto del código CSS permanece igual */
.main {
  width: 700px;
  height: 600px;
  background-color: #f5f5f5;
  border-radius: 1em;
  margin: 40px 0;
}

.charts-container {
  display: flex;
  align-items: center;
}

.chart-container canvas {
  width: 40rem;
  padding: 10px;
  margin-top: 50px;
}

.plantas {
  padding: 20px;
  font-size: 1.5rem;
}

select {
  padding: 10px;
  margin-left: 5px;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
}

.secondContainer {
  display: flex;
  font-size: 1rem;
  margin-top: 1em;
  align-items: center;
  gap: 20px;
}

.text-right {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.2rem;
}

.inputs {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 40px;
}

.container-text {
  display: flex;
}

.anual,
.mensual {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.anual p,
.mensual p {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.comparacion,
.total {
  background: rgb(226, 152, 16);
  color: white;
  padding: 10px;
  border-radius: 10px;
  height: 120px;
  width: 170px;
  margin: 2px 0px 2px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.submit-button {
  all: unset;
  font-size: 16px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: black;
  line-height: 1.5;
  font-weight: 500;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}
.submit-button::before,
.submit-button::after {
  content: "";
  position: absolute;
  background: #000;
  background: #ff9950;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: skew(30deg) translateY(0);
  transition: transform 0.3s ease;
  z-index: -1;
}

.submit-button::before {
  --direction: 1;
  top: -100%;
  left: -76%;
}
.submit-button::after {
  --direction: -1;
  top: 100%;
  left: 80%;
}
.submit-button:hover::before,
.submit-button:hover::after {
  transform: skew(30deg) translateY(calc(var(--direction) * 100%));
}
.textContainer {
  display: block;
  overflow: hidden;
  position: relative;
}
.text {
  display: flex;
  transition: 0.3s;
}
.submit-button:hover .text:nth-child(1) {
  color: white;
  translate: 0 95%;
}
.text:nth-child(2) {
  color: white;
  position: absolute;
  inset: 0;
  translate: 0 -95%;
}
.submit-button:hover .text:nth-child(2) {
  transition-delay: 0.1s;
  translate: 0 0;
}

.file-upload {
  font-size: 1.1em;
  margin: 0 0 0 1em;
}

.mesACargar {
  margin-left: 2em;
  font-size: 1.1em;
  font-weight: 600;
}

.consejos {
  margin-left: 1.5em;
  font-size: 1.5em;
  font-weight: 600;
}

.recomendaciones {
  background-color: rgb(215, 215, 215);
}

.commingsoon {
  width: 650px;
  height: 600px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}
