<nav class="nav">
  <div class="left-section">
    <div class="links">
      <img class="logo" src="logonegro.png" alt="" />
      <div class="nose">
        <a [routerLink]="['/dashboard/carga']" class="button">Carga</a>
        <a [routerLink]="['/dashboard/historial']" class="button">Historial</a>
      </div>
    </div>
    <div class="buttons">
      <a
        *ngIf="mostrarBoton"
        [routerLink]="['/inicio/register']"
        routerLinkActive="activebutton"
        class="button right-button"
        >Registrar trabajador</a
      >
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
