.button {
  background: linear-gradient(to right, #FFC312, #ee6c3c, #FFC312);
  text-transform: uppercase;
  display: flex;
  border: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  align-items: center;
  transition: all 0.4s ease-in-out;
  background-size: 200%;

  &:hover {
    background-position: right; 
  }
}

.text-danger{
  font-size: 12px;
  position: absolute;
  background: #e7e7e7;
  color: rgb(28, 28, 28);
  padding: 5px;
  border-radius: 8px 0px 0px 8px;
  font-weight: 500;
  margin-left: -190px;
  margin-top: -40px;
  list-style: none;
  display: none;
}

.text-danger.visible {
  display: block;
}
.text{
  color:red;
}
.text-danger.visible::after, .text-danger.visible::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 15px;
  border-color: transparent transparent transparent #e7e7e7;
  top: 0px;
  right: -28px;
}

.text-danger-password{
  font-size: 12px;
  position: absolute;
  background: #e7e7e7;
  color: black;
  padding: 5px;
  border-radius: 0px 8px 8px 0px;
  font-weight: 500;
  margin-left: 265px;
  margin-top: -40px;
  z-index: 2;
  list-style: none;
  display: none;
}

.text-danger-password.visible {
  display: block;
}

.text-danger-password.visible::after, .text-danger-password.visible::before {
  content: "";
  display: block;
  background: transparent;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #e7e7e7 transparent transparent;
  top: 0px;
  left: -15px;
}


.button svg {
  margin-right: 8px;
  width: 25px;
  height: 25px;
}

.volver-button {
  margin: 20px 0 0 20px;
}

.register-padre {
  background-color: #f2f2f2;
  width: 550px;
  height: 550px;
  border-radius: 20px;
  margin: 40px auto;
}
.title {
  color: rgb(255, 192, 0);
  font-style: italic;
  font-weight: 600;
  padding-bottom: 20px;
}

.logo {
  width: 100px;
  height: 110px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
}

.form {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto -50px auto;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: rgb(255, 192, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 192, 0, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  color: rgb(255, 246, 246);
  width: 150px;
  height: 40px;
  border-radius: 10px;
}

.password {
  margin-bottom: 50px;
}

input {
  display: flex;
  padding: 10px 10px 10px 5px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
  outline: none;
  width: 240px;
  height: 35px;
  margin-top: 8px;
}

input::placeholder {
  font-size: 16px;
  font-style: italic;
  padding-left: 6px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

label {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  left: 5px;
  top: 10px;
  display: flex;
  pointer-events: none;
}

input:focus ~ label {
  color: #000000;
}

.bar {
  position: relative;
  display: block;
  width: 240px;
}

.bar:before,
.bar:after {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;
  background: black;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

input:focus ~ label {
  transform: translateY(-20px);
  font-size: 14px;
}
