<button [routerLink]="['/dashboard/historial']" class="button volver-button">
  Volver
</button>
<div class="register-padre">
  <form (ngSubmit)="registrar()" #loginForm="ngForm" class="form">
    <div>
      <img class="logo" src="logonegro.png" alt="" />
    </div>
    <div>
      <div>
        <label for="name">Name</label>
        <input
          placeholder="nombre"
          type="text"
          [(ngModel)]="name"
          name="name"
        />
        <span class="bar"></span>
      </div>
      <div>
        <label for="email">Email</label>
        <input
          placeholder="example@example.com"
          type="text"
          [(ngModel)]="email"
          name="email"
        />
        <span class="bar"></span>
      </div>
      <div>
        <label for="password">Password</label>
        <input
          placeholder="*******"
          type="password"
          [(ngModel)]="password"
          name="password"
        />
        <span class="bar"></span>
      </div>
      <div>
        <label for="phone">Phone</label>
        <input
          placeholder="123456789"
          type="number"
          [(ngModel)]="phone"
          name="phone"
        />
        <span class="bar"></span>
      </div>
      <button class="btn" type="submit">Enviar</button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
