<div class="main">
  <div class="options">
    <label for="plantSelect">Seleccionar Planta:</label>
    <select id="plantSelect">
      <option value="planta1">Planta 1</option>
      <option value="planta2">Planta 2</option>
      <option value="planta3">Planta 3</option>
      <!-- Agrega más opciones según sea necesario -->
    </select>
  </div>
  <div class="charts-container">
    <div class="charts">
      <div class="chart-container">
        <canvas id="energyChart"></canvas>
      </div>
      <div class="chart-container">
        <canvas id="dailyChart"></canvas>
      </div>
    </div>
  </div>
  <!-- <div class="extra">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aliquid
    tempore inventore libero. Magni veritatis ipsum deleniti magnam
    necessitatibus corporis sunt, quas aspernatur, consectetur accusantium at,
    explicabo nostrum quibusdam molestiae harum repudiandae incidunt obcaecati
    sint alias hic odit commodi expedita officiis voluptatum. Voluptas vel
    dolorem eius nulla quae dolor adipisci, dolore maiores illo repellat dolores
    amet totam provident non, officia quas numquam veritatis, laborum qui
    distinctio facilis. Velit obcaecati earum mollitia omnis asperiores sed
    alias inventore eveniet natus corporis nulla error labore illum, quae libero
    cupiditate nemo repudiandae magnam dolorem consectetur. Omnis dolores
    cupiditate quisquam, totam vel mollitia atque inventore!
  </div> -->
</div>
