<div class="main">
  <div>
    <div class="plantas">
      <label for="plantSelect">Seleccionar Planta:</label>
      <select id="plantSelect">
        <option value="">Seleccionar</option>
        <option value="BODEGAS SALCOBRAND">BODEGAS SALCOBRAND</option>
        <option value="CENTROVET 255 AUTOCONS">CENTROVET 255 AUTOCONS</option>
        <option value="EKONO EL SALTO">EKONO EL SALTO</option>
        <option value="CENTROVET 601">CENTROVET 601</option>
      </select>
      <div class="faltanMeses">
        <h4 id="faltanMeses?"></h4>
      </div>
    </div>
    <div class="secondContainer">
      <div class="inputs">
        <div>
          <label for="month">Mes: </label>
          <select id="month">
            <option value="">Seleccionar</option>
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
        </div>
        <div>
          <label for="year">Año: </label>
          <select id="year">
            <option value="">Seleccionar</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
        </div>
        <div>
          <button id="submitButton" class="submit-button">
            <div class="textContainer">
              <span class="text">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24">
                  <path
                    d="M24 32c13.3 0 24 10.7 24 24l0 352c0 13.3 10.7 24 24 24l416 0c13.3 0 24 10.7 24 24s-10.7 24-24 24L72 480c-39.8 0-72-32.2-72-72L0 56C0 42.7 10.7 32 24 32zM128 136c0-13.3 10.7-24 24-24l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24zm24 72l144 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-144 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 96l272 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-272 0c-13.3 0-24-10.7-24-24s10.7-24 24-24z" />
                </svg>Consultar
              </span>
              <span class="text">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24">
                  <path
                    d="M24 32c13.3 0 24 10.7 24 24l0 352c0 13.3 10.7 24 24 24l416 0c13.3 0 24 10.7 24 24s-10.7 24-24 24L72 480c-39.8 0-72-32.2-72-72L0 56C0 42.7 10.7 32 24 32zM128 136c0-13.3 10.7-24 24-24l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24zm24 72l144 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-144 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 96l272 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-272 0c-13.3 0-24-10.7-24-24s10.7-24 24-24z" />
                </svg>Consultar
              </span>
            </div>
          </button>
        </div>
      </div>
      <div class="text-right">
        <p id="inversorName">Inversor</p>
        <p id="location">Ubicación</p>
      </div>
    </div>
  </div>
  <div class="charts-container">
    <div class="chart-container chart-container-year">
      <canvas id="energyChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="dailyChart"></canvas>
    </div>
    <div class="container-text">
      <div class="anual">
        <p id="año">AÑO</p>
        <div class="total" id="totalAnual">Total generado en el año</div>
        <div class="comparacion" id="comparacionAnual">
          Total generado en el año vs pvsyst
        </div>
        <div class="total" id="anualAnterior">vs año anterior</div>
      </div>
      <div class="mensual">
        <p id="mes">MES</p>
        <div class="total" id="totalMes">Energía total del mes</div>
        <div class="comparacion" id="comparacionMes">
          Energía total del mes vs pvsyst
        </div>
        <div class="total" id="mesAnterior">vs año anterior</div>
      </div>
    </div>
  </div>
</div>