.main {
  width: 98%;
  padding: 0 10px;
  height: fit-content;
  background-color: #f5f5f5;
  border-radius: 1em;
  margin: 30px auto;
}

#location {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.chart-container canvas {
  width: 400px;
  margin: 0px 20px 20px 20px;
  height: auto;
}

.chart-container-year canvas {
  width: 450px;
  margin: 20px;
  height: auto;
}

.plantas {
  padding: 20px 20px 0px 20px;
  font-size: 1.5rem;
}

.plantas label {
  text-transform: uppercase;
}

.inputs label {
  text-transform: uppercase;
}

select {
  padding: 10px;
  margin-left: 5px;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
}

.secondContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.text-right {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.inputs {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.container-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.anual,
.mensual {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.anual p,
.mensual p {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.comparacion,
.total {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  height: 120px;
  width: 170px;
  margin: 2px 0px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.submit-button {
  all: unset;
  font-size: 16px;
  padding: 0.5rem 3rem;
  background-color: transparent;
  color: black;
  line-height: 1.5;
  font-weight: 500;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
}

}
.submit-button::before,
.submit-button::after {
  content: "";
  position: absolute;
  background: #000;
  background: #ff9950;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: skew(30deg) translateY(0);
  transition: transform 0.3s ease;
  z-index: -1;
}

.submit-button::before {
  --direction: 1;
  top: -100%;
  left: -60%;
}
.submit-button::after {
  --direction: -1;
  top: 100%;
  left: 60%;
}
.submit-button:hover::before,
.submit-button:hover::after {
  transform: skew(30deg) translateY(calc(var(--direction) * 100%));
}
.textContainer {
  display: block;
  overflow: hidden;
  position: relative;
}
.text {
  display: flex;
  transition: 0.3s;
}
.submit-button:hover .text:nth-child(1) {
  color: white;
  translate: 0 95%;
}
.text:nth-child(2) {
  color: white;
  position: absolute;
  inset: 0;
  translate: 0 -95%;
}
.submit-button:hover .text:nth-child(2) {
  transition-delay: 0.1s;
  translate: 0 0;
}
.submit-button svg {
  margin-right: 8px;
}

.faltanMeses {
  margin-top: 0.3em;
  font-size: 0.8em !important;
  color: rgb(255, 98, 0);
}

/* Media Queries */

@media (max-width: 768px) {
  .main {
    width: 100%;
    margin: 20px auto;
  }

  .chart-container canvas,
  .chart-container-year canvas {
    max-width: 100%;
  }

  .secondContainer,
  .inputs,
  .text-right,
  .container-text {
    flex-direction: column;
    align-items: center;
  }

  .comparacion,
  .total {
    width: 100%;
  }
}
