<div class="main">
  <div class="options">
    <label for="plantSelect">Seleccionar Planta:</label>
    <select id="plantSelect">
      <option value="planta1">Planta 1</option>
      <option value="planta2">Planta 2</option>
      <option value="planta3">Planta 3</option>
    </select>
  </div>
  <div class="charts-container">
      <div class="chart-container">
        <canvas id="energyChart"></canvas>
      </div>
      <div class="chart-container">
        <canvas id="dailyChart"></canvas>
      </div>
  </div>
</div>
